# log file
*_log_*.txt

# release folder
/release/
/out/

# ide files & folder
ibas-typescript
*.js
*.sln
*.map
*.tmp
*.publishproj
Web.config
/.vs/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/Servers/

# exceptions
!src/3rdparty/*