# files & folder
*.js
*.map
*.bat
*.sh
*.tmp
*.publishproj
*.sln
*.log
*_log_*.txt
.project
*.d.ts
/.vs/
/.vscode/
/.metadata/
/.recommenders/
/.settings/
/RemoteSystemsTempFiles/
/Servers/
/tomcat/
/others/
/upload/
/release/
/target/
/out/
/test/apps/
/node_modules/
/openui5/resources*/
/openui5/index.html
/openui5/LICENSE.txt
/openui5/NOTICE.txt
/openui5/README.txt


# exceptions
!ibas/3rdparty/*.js
!openui5/types/*.ts
!test/apps/trainingtesting/
