# files & folder
~*
*.js
*.map
*.bat
*.sh
*.tmp
*.publishproj
*.sln
*.log
*_log_*.txt
*.project
*.d.ts
*.config
.DS_Store
/.vs/
/.vscode/
/.metadata/
/.recommenders/
/.settings/
/RemoteSystemsTempFiles/
/Servers/
/tomcat/
/others/
/upload/
/release/
/target/
/out/
/test/apps/
/node_modules/
/openui5/resources
/openui5/resources/**
/openui5/*.html
/openui5/*.txt
/shell/resources/images/

# local commands
*.sh
*.bat

# exceptions
!ibas/3rdparty/*.js
!openui5/types/*.d.ts
!openui5/extensions/components/*.d.ts
!test/apps/trainingtesting/
